extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9
        h1 Levi Kane
        p.lead.text-light
          | Full Stack JavaScript Developer.
        .portfolio-bio
          p
            | Because of Covid, I'm now a former kinesiologist turned Software Developer.
            | I'm also a Real Estate investor! It's awesome. Having my buildings pay me
            | every month has allowed me to shift careers as easily as I have, even at age 
            | 31 with a 2 year old and another baby on the way!
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills
        ul
          li Express
          li JavaScript
          li Python
          li SQL
          li HTML 
          li CSS
        h6 Contact Info
        ul
          li 773-558-3112
          li oneleggedlevi09@gmail.com

        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(href='https://www.linkedin.com/in/levi-kane-8a94a155/') LinkedIn
        a.button.expanded(href='https://github.com/levickane') GitHub
        a.button.expanded(href='https://www.instagram.com/oneleggedlevi/') Instagram
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  