extends layout.pug

block content 
  article.grid-container.portfolio-intro
    div

      h1 Making normal programs Abnormally awesome
      p.lead.text-light
        | These are the projects that I've made during my time at Team Treehouse in the JavaScript track.
  article.grid-container.portfolio-index
    
      .grid-x.grid-margin-x.small-up-2.medium-up-2.large-up-3 
        each project in projects
          .cell
            a(href=`/project/${project.id}`)
              img.thumbnail(src= project.img_urls[0])
              h5 #{project.project_name}
        
